name: master

on:
   push:
      paths-ignore:
         - 'doc/**'
         - 'documentation/**'
         - '*.md'
         - '*.yml'
      branches:
         - master

jobs:
   linux:
      runs-on: ubuntu-latest
      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v2
            with:
               fetch-depth: 0

         -  name: Setup JDK
            uses: actions/setup-java@v1
            with:
               java-version: '11'

         -  name: Run tests
            run: ./gradlew check

   macos:
      runs-on: macos-latest
      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v2
            with:
               fetch-depth: 0

         -  name: Run macos tests
            run: ./gradlew macosX64Test

         -  name: Run ios tests
            run: ./gradlew iosX64Test

         -  name: Run tvos tests
            run: ./gradlew tvosX64Test

         -  name: Run watchos tests
            run: ./gradlew watchosArm32TestKlibrary watchosArm64TestKlibrary watchosX86Test watchosX64Test watchosX86Test


   windows:
      runs-on: windows-latest
      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v2
            with:
               fetch-depth: 0

         -  name: Run tests
            run: ./gradlew mingwX64Test --scan

env:
   GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
